* {
    font-family: 'Oswald', 'Courier New', 'Times New Roman', 'Arial', sans-serif;
}

body {
    overflow-x: hidden;
}

@keyframes rotate {
    to {
        transform: rotate(0deg);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0)
    }
}

h1.main_header {
    /* width: 500px;
    display: block;
    transform: rotate(180deg);
    transition: transform .3s; */
    /* animation: slideIn 3s ease-out forwards; */
    /* transform-origin: bottom center; */
}

h1.main_header:hover {
    /* transform: rotate(360deg); */
    translate:calc(10%);
    transition: 1s;
}

div.parent {
    position: relative;
}

a.link {
    color: black;
    text-decoration: none;
    padding: 2px 8px 4px;
    border-radius: 5px;
    transition: transform .3s;
    display: inline-block;
    position: fixed;
    left: 10px;
    top: 30px;
    background: black;
    color: white;
}

a.link:hover {
    text-decoration: underline;
    background-color: purple;
    color: white;
    transform: translateX(20px);
}

